# Geçici & hassas dosyalar
setup.lock
setup.php

# Ortam değişkenleri (DB şifresi vb.)
config/env.php

# MacOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Editor
.vscode/
*.swp
*.swo

# Log dosyaları
*.log
error_log
